h1 {
  display:inline;
  color:#313131;
  font-family: 'Play', sans-serif;
  font-size:45px;
  font-weight: bold;
  -webkit-animation:colorchange 20s infinite alternate;
  }
  @-webkit-keyframes colorchange {
    0% {
      color: blue;
    }
    10% {
      color: #8e44ad;
    }
    20% {
      color: #1abc9c;
    }
    30% {
      color: #d35400;
    }
    40% {
      color: blue;
    }
    50% {
      color: #34495e;
    }
    60% {
      color: blue;
    }
    70% {
      color: #2980b9;
    }
    80% {
      color: #f1c40f;
    }
    90% {
      color: #2980b9;
    }
    100% {
      color: pink;
    }
  }
a {
  color:#313131;
  padding-right:3vw;
  -webkit-animation:colorchange 20s infinite alternate;
  }
  @-webkit-keyframes colorchange {
    0% {
      color: blue;
    }
    10% {
      color: #8e44ad;
    }
    20% {
      color: #1abc9c;
    }
    30% {
      color: #d35400;
    }
    40% {
      color: blue;
    }
    50% {
      color: #34495e;
    }
    60% {
      color: blue;
    }
    70% {
      color: #2980b9;
    }
    80% {
      color: #f1c40f;
    }
    90% {
      color: #2980b9;
    }
    100% {
      color: pink;
    }
  }
body {
  color: #313131;
  font-family: 'Play', sans-serif;
  font-size: 100%;
  line-height: 1.5;
  position:relative;
}
header section ul li{
  display:inline;
}
hr {
  margin: 1em;
  width: 80%;
}
main {
  background-color: black;
  width: 98vw;
}
p {
  font-size: 1em;
}