.aboutMe{
  background-color:blue;
  height:10vw;
  min-height:145px;
  min-width:351px;
  width:95%;
}
.projectFirst{
  color:white;
  background-color: red;
  min-height: 278px;
  height: 20vw;
  width: 20vw;
  min-width: 351px;
}
.projectSecond{
  color:white;
  background-color: yellow;
  min-height: 278px;
  height: 20vw;
  width: 20vw;
  min-width: 351px;
}
.projectThird{
  color:white;
  background-color: green ;
  min-height: 278px;
  height: 20vw;
  width: 20vw;
  min-width: 351px;
}
}
.clear-fix {
  clear: both;
}
.hamburger{
  background: none;
  position: fixed;
  top: 3.5vw;
  right: 0;
  line-height: 45px;
  padding: 5px 15px 0px 15px;
  color: #999;
  border: 0;
  font-size: 4em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}
.nav-bar {
  padding: 0.1em;
}
.nav-bar-ul {
  position:fixed;
  display: none;
  padding: 0;
  list-style: ;
  clear: both;
}
.nav-bar-click {
  float:right;
  display: block;
}
.nav-bar li {
  display: inline;
  margin-right: .4em;
  font-size: 1.5em;
  padding: .3em .1em;
  border-bottom: 1px solid #ccc;
}
@media only screen  and (min-width: 800px){

.hamburger {display: none;}

.nav-bar ul {
  padding-left:3vw; 
  display: inline;
}
.projectFirst{
  float:left;
  display:inline;
}
.projectSecond{
  float:left;
  display:inline;
}
.projectThird{
  float:left;
  display:inline;
}

}