.button {
  -webkit-border-radius: 10px;
  background-color: #004A7F;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 50px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
}
@-webkit-keyframes glowing {
  0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
}
@-moz-keyframes glowing {
  0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
}
@-o-keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}
@keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}
.button {
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
  width:31vw;
}
.big-parrot {
  display:none;
}
.byline {
  color: #777;
}
.byline a {
  font-weight: bold;
}
.close-nav {
  height: 8vw;
  left: -4vw;
  position: absolute;
  top: 17vw;
  width: 9vw;
}
.controls {
  display:inline;
}
#countdown {
  background-color: black;
  text-align: center;
  width:98vw;
}
#dizzy {
  background-color: black;
  text-align: center;
  width: 98vw;
}
#facespin {
  color:black;
  text-align: center;
}
#fighterAbout {
  display:inline;
}
.fighter-left {
  height:15vw;
  left: 53vw;
  position: absolute;
  top: 20vw;
  width:11vw;
}
.fighter-right {
  height: 15vw;
  left: 23vw;
  position: absolute;
  top: 18.9vw;
  width: 11vw;
}
.fighter-right-hover {
  height: 18vw;
  left: 23vw;
  position: absolute;
  top: 16.9vw;
  width: 39vw;
}
.footer{
  height:80%;
  width:80%;
}
.heading-group-h1 {
  padding: 0 0 .2em 1em;
}
#mortalkombat {
  text-align: center;
}
.johnny {
  border-radius:10px;
  margin-top:0.6vw;
  opacity:0.5;
}
.kombat-game {
  background-color: black;
  display:none;
  width:98vw;
}
#llama {
  text-align: center;
}
.llama-game {
  background-color: black;
  display:none;
  width:98vw;
}
.interactive3d {
  display:inline;
  text-align: center;
}
.interactive_3d > img{
  float: left;
  left: 0;
  position: relative;
  width: 333px;
}
.nav-bar-fighters {
  display: none;
  margin-right: .4em; 
  padding: .5em .2em;
}
.nav-bar-links {
  color: #fff;
}
.nav-toggle-open {
  left: 90.5vw;
  position: absolute;
  top: -2.3vw;
  }
.nav-toggle-close {
  display:none;
  left: 90.5vw;
  position: absolute;
  top: 18vw;
}
.open-nav {
  height: 8vw;
  width: 9vw;
}
#stars {
  background-color: black;
}
#stars-background {
  width:98vw;
}
.site-header {
  background: url("http://i.imgur.com/zb3BZCv.gif");
  height:44vw;
  max-height:470px;
  width:98vw;
}
#threejohnny {
  background-color: black;
  text-align: center;
  width:98vw;
}
#titles
{
  bottom: 0;
  font-size: 350%;
  font-weight: bold;
  height: 50em;
  left: 50%;
  margin-left: -9em;
  overflow: hidden;
  position: absolute;
  text-align: justify;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(25deg);
  width: 18em;
}
#titles:after
{
  background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
  bottom: 60%;
  content: ' ';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}
#titlecontent
{
  animation: scroll 100s linear 4s infinite;
  position: absolute;
  top: 100%;
}
@keyframes scroll {
  0% { top: 100%; }
  100% { top: -170%; }
}
#spinwords {
  background-color:rgba(32,43,54,0.2);
  color:black;
  display:none;
}
/*.tab-content {
  display:;
}*/
.videoCount {
  display:none;
}
@media only screen and (min-width: 640px) {
  .fighterRight {
    height: 16vw;
    left: 23vw;
    position: absolute;
    top: 26.9vw;
    width: 11vw;
  }
  .fighterLeft {
    height:15vw;
    left: 53vw;
    position: absolute;
    top: 28vw;
    width:11vw;
  }
  .nav-bar {
    padding: .2em .2em .2em 2em;
  }
  .nav-bar ul li:hover a {
    color: #29506D;
  }
  .heading-group-h1 {
    padding: .1em .1em .1em 2em;
  }
}
@media only screen and (min-width: 1207px) {
  .nav-bar-fighters {
    display:inline;
  }
  .fighterRight {
    height: 16vw;
    left: 23vw;
    position: absolute;
    top: 18.9vw;
    width: 11vw;
  }
  .fighterLeft {
    height:15vw;
    left: 53vw;
    position: absolute;
    top: 20vw;
    width:11vw;
  }
  .nav-toggle-open {
    left: 90.5vw;
    display:none;
    position: absolute;
    top: -2.3vw;
  }
  .nav-toggle-close {
    display:none;
  }
}