.clear-fix {
  clear: both;
}
.heading-h1 {
  float: left;
}
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.nav-bar {
  padding: 0.1em;
}
.nav-bar ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}
.nav-bar:hover ul {
  display: block;
}
.nav-bar li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}
@media only screen  and (min-width: 800px){
.hamburger {display: none;}

.main-nav:hover ul {
  display: inline;
}
